/* font */
@font-face {
  font-family: "digital-7";
  src: url("./font/digital-7.mono.ttf") format("truetype");
}

/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  gap: 30px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.calculator-container,
.memo-container {
  position: relative;
  height: 500px;
  padding: 20px 25px;
  border-radius: 20px;
  background-color: #383838;
  box-shadow: 25px 25px 35px rgba(0, 0, 0, 0.55),
    10px 10px 10px rgba(0, 0, 0, 0.45), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calculator-container {
  width: 280px;
}

.memo-container {
  width: 530px;
}

.header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* 상단 헤더 - 창 제어 버튼 */
.window-controls-list {
  display: flex;
  gap: 5px;
}

.window-controls-list:hover span {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: bold;
}

.window-controls {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-controls:nth-child(1) {
  background-color: #ff4d00;
}
.window-controls:nth-child(2) {
  background-color: #ffc400;
}
.window-controls:nth-child(3) {
  background-color: #00c600;
}

/* 상단 헤더 - 특수 버튼 */

.header__funcBtns-list {
  display: flex;
  gap: 10px;
}
.header__funcBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  position: relative;
}

/* 계산기 화면과 버튼 컨테이너 */
.display,
.buttons {
  width: 100%;
}

/* 계산기 화면 */
.display {
  height: 20%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #a7af7c;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(0, 0, 0, 0.5);
  font-family: "digital-7";
}

.formula {
  width: 100%;
  height: 20px;
  font-size: 1.3rem;
  color: #555555;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  direction: ltr; /* 기본 왼쪽에서 오른쪽으로 표시되도록 설정 */
}

.result {
  flex: 1;
  font-size: 2.5rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

/* 계산기 버튼 */
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  position: relative;
}

.zero {
  width: 110px;
  height: 50px;
}

.reset {
  background: linear-gradient(180deg, #ff0606, #ff0606);
  box-shadow: inset -8px 0 8px rgba(255, 6, 6, 0.15),
    inset 0 -8px 8px rgba(255, 6, 6, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
}

.equal {
  background: linear-gradient(180deg, rgb(0, 166, 255), #00a6ff);
  box-shadow: inset -8px 0 8px rgba(0, 166, 255, 0.15),
    inset 0 -8px 8px rgba(0, 166, 255, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
}

/* 메모장 */
.memo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memo-title {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #7f7d7d;
  color: white;
}

.log-list {
  width: 100%;
  height: 330px;
  margin: 10px 0;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 20px;
  background-color: #a7af7c;
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(0, 0, 0, 0.5);
  font-family: "digital-7";
  font-size: 1.5rem;
}

.log-item {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.log-item--removing {
  transform: translateX(100%);
  opacity: 0;
}

.log-item__index {
  width: 85px;
  height: 26px;
  margin-right: 10px;
  padding-left: 5px;
  background-color: #383838;
  color: white;
}

.log-item__content {
  width: 300px;
  border-radius: 5px;
  text-wrap: wrap;
  word-wrap: break-word;
}

.log-item__deleteBtn {
  width: 15px;
  cursor: pointer;
  padding-top: 2px;
}

.log-item__deleteBtn svg {
  fill: #383838;
}

.log-reset-btn {
  width: 150px;
  height: 40px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

/* 공통 */
.header__funcBtn:hover,
.button:hover,
.log-reset-btn:hover {
  filter: brightness(1.5);
}
