/* Fonts */
@font-face {
  font-family: "digital-7";
  src: url("./font/digital-7.mono.ttf") format("truetype");
}

/* Variables */
:root {
  /* color */
  --background-color-main: #444444;
  --background-color-sub: #383838;
  --color-red: #ff0606;
  --color-blue: #00a6ff;
  --color-white: #ffffff;
  --color-gray-light: #555555;

  /* gradients */
  --background-gradient: linear-gradient(180deg, #2f2f2f, #3f3f3f);

  /* font */
  --font-family-main: "digital-7";
  --font-size-base: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 1.5rem;
  --font-size-display: 2.5rem;

  /* shadows */
  --box-shadow-container: 25px 25px 35px rgba(0, 0, 0, 0.55),
    10px 10px 10px rgba(0, 0, 0, 0.45), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
  --box-shadow-button: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(0, 0, 0, 0.5);
}

/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-main);
  gap: 30px;
}

h1 {
  text-align: center;
  font-size: var(--font-size-large);
  margin-bottom: 20px;
}

.calculator-container,
.log-container {
  position: relative;
  height: 500px;
  padding: 20px 25px;
  border-radius: 20px;
  background-color: var(--background-color-sub);
  box-shadow: var(--box-shadow-container);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calculator-container {
  width: 280px;
}

.log-container {
  width: 530px;
}

.header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* Header - window controls */
.header__controlBtns-list {
  display: flex;
  gap: 5px;
}

.controlBtn {
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlBtn:nth-child(1) {
  background-color: #ff4d00;
}
.controlBtn:nth-child(2) {
  background-color: #ffc400;
}
.controlBtn:nth-child(3) {
  background-color: #00c600;
}

/* Header - function buttons */
.header__funcBtns-list {
  display: flex;
  gap: 10px;
}
.header__funcBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-size-base);
  cursor: pointer;
  background: var(--background-gradient);
  box-shadow: var(--box-shadow-button);
  border-radius: 3px;
  position: relative;
}

/* Calculator */
.display,
.buttons {
  width: 100%;
}

/* Calculator - display */
.display {
  height: 20%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #a7af7c;
  box-shadow: var(--box-shadow-button);
  font-family: var(--font-family-main);
}

.formula {
  width: 100%;
  height: 20px;
  font-size: var(--font-size-medium);
  color: var(--color-gray-light);
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  direction: ltr; /* 기본 왼쪽에서 오른쪽으로 표시되도록 설정 */
}

.result {
  flex: 1;
  font-size: var(--font-size-display);
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

/* Calculator - buttons */
.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-size-base);
  cursor: pointer;
  background: var(--background-gradient);
  box-shadow: var(--box-shadow-button);
  border-radius: 5px;
  position: relative;
}

.zero {
  width: 110px;
  height: 50px;
}

.reset {
  background: linear-gradient(180deg, var(--color-red), var(--color-red));
  box-shadow: inset -8px 0 8px rgba(255, 6, 6, 0.15),
    inset 0 -8px 8px rgba(255, 6, 6, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
}

.equal {
  background: linear-gradient(180deg, var(--color-blue), var(--color-blue));
  box-shadow: inset -8px 0 8px rgba(0, 166, 255, 0.15),
    inset 0 -8px 8px rgba(0, 166, 255, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75);
}

/* Log */
.log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-title {
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-gray-light);
  color: var(--color-white);
}

.log-list {
  width: 100%;
  height: 330px;
  margin: 10px 0;
  overflow-y: scroll;
  border-radius: 10px;
  padding: 20px;
  background-color: #a7af7c;
  box-shadow: var(--box-shadow-button);
  font-family: var(--font-family-main);
  font-size: var(--font-size-large);
}

.log-item {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.log-item--removing {
  transform: translateX(100%);
  opacity: 0;
}

.log-item__index {
  width: 85px;
  height: 26px;
  margin-right: 10px;
  padding-left: 5px;
  background-color: var(--background-color-sub);
  color: var(--color-white);
}

.log-item__content {
  width: 300px;
  border-radius: 5px;
  text-wrap: wrap;
  word-wrap: break-word;
}

.log-item__deleteBtn {
  width: 15px;
  cursor: pointer;
  padding-top: 2px;
}

.log-item__deleteBtn svg {
  fill: var(--background-color-sub);
}

.log-reset-btn {
  width: 150px;
  height: 40px;
  color: var(--color-white);
  font-size: var(--font-size-base);
  cursor: pointer;
  background: var(--background-gradient);
  box-shadow: var(--box-shadow-button);
  border-radius: 5px;
}

/* Hover */
.header__funcBtn:hover,
.button:hover,
.log-reset-btn:hover {
  filter: brightness(1.5);
}
