/* font */
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }

  body {
    width: 100%;
    min-height: 100vh;
    color: black;
  }
}

@layer utilities {
  .hover-red {
    @apply hover:text-red-700;
  }
}
