/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
}

.calculator-container {
  width: 500px;
  height: 80%;
  min-height: 400px;
  max-height: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 창 제어 버튼 */
.window-controls-list {
  width: 70px;
  display: flex;
  gap: 5px;
}

.window-controls-list:hover span {
  display: inline-block;
  font-size: 0.9rem;
}

.window-controls {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-controls:nth-child(1) {
  background-color: #ff4d00;
}
.window-controls:nth-child(2) {
  background-color: #ffc400;
}
.window-controls:nth-child(3) {
  background-color: #00c600;
}

/* 계산기 화면과 버튼 컨테이너 */
.display,
.buttons {
  width: 100%;
  border: 1px solid;
}

/* 계산기 화면 */
.display {
  height: 20%;
  margin-bottom: 10px;
  padding: 10px;
  border-color: red;
  display: flex;
  flex-direction: column;
}

.formula {
  width: 100%;
  height: 20px;
  font-size: 0.8rem;
  color: gray;
  text-align: right;
}

.result {
  flex: 1;
  font-size: 2.2rem;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

/* 계산기 버튼 */
.buttons {
  flex-grow: 1;
  border-color: blue;
  color: blue;
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 25%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #ffc400;
}

.button:active {
  background-color: #73ad73;
}

.zero {
  width: 50%;
  height: 20%;
}

/* 공통 */
.hidden {
  display: none;
}
